---
permalink: /
layout: page
---
<div class="stripes">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<header>
  <div class="intro">
    <p class="intro__main">JDIS, c'est plus de 350 étudiant-e-s en informatique à l'UdeS.</p>
    <p class="intro__text">
      Avec une communauté toujours grandissante, plusieurs participations aux
      événements informatiques de la province ainsi qu'une foule d'activités organisées chaque année, 
      <strong>Jeux et défis informatiques de Sherbrooke</strong> est l'organisation étudiante d'informatique par excellence de l'Université de Sherbrooke.
    </p>
    <a class="intro__btn--main" href="#jdis"><div>En savoir plus</div></a>
  </div>
</header>

<h3 id="jdis" style="border-top:0;" class="section-title">JDIS?</h3>
<p class="narrow">
  Jeux et défis informatiques de Sherbrooke, aussi connue sous le nom de JDIS (prononcé «jedi», comme dans <em>Star Wars</em>), est une organisation étudiante formée <em>par</em> les étudiant-e-s et <em>pour</em> les étudiant-e-s en informatique de l'Université de Sherbrooke.
</p>

<h3 style="border-top:0;" class="section-title">Concrètement, JDIS c'est...</h3>
<ul class="grid grid-photos">
  <li>
    <div class="photo-title">Des midis-conférences à l'UdeS</div>
    <div>
      <img src="/assets/img/photos/p_9.jpg" alt="Midi-conférence présenté par Ubisoft Sherbrooke">
    </div>
    <p class="small-text"><span style="font-weight: bold; font-style: italic">La lutte contre la toxicité dans le jeu vidéo grâce à l'IA</span>, par Ubisoft Sherbrooke<br>UdeS, juillet 2025</p>
  </li>
  <li>
    <div class="photo-title">Des délégations aux événements externes</div>
    <div>
      <img src="/assets/img/photos/p_10.jpg" alt="NorthSec CTF 2025">
    </div>
    <p class="small-text"><span style="font-weight: bold">NorthSec</span> &mdash; Compétition de sécurité informatique<br>Montréal, mai 2025</p>
  </li>
  <li>
    <div class="photo-title">Des conférences et des compétitions</div>
    <div>
      <img src="/assets/img/photos/p_11.jpg" alt="JDIS Games 2025">
    </div>
    <p class="small-text"><span style="font-weight: bold">JDIS Games</span> &mdash; Compétition de programmation d'agents<br>UdeS, juillet 2025</p>
  </li>
</ul>

<h3 id="partenaires" class="section-title">Nos partenaires de succès</h3>

{% assign i7 = site.data.sponsors.big %}
{% assign i5 = site.data.sponsors.medium %}
{% assign i3 = site.data.sponsors.small %}

{% include sponsor_tier.html title='Partenaires i7' items=i7 tier='i7' %}
{% include sponsor_tier.html title='Partenaires i5' items=i5 tier='i5' %}
{% include sponsor_tier.html title='Partenaires i3' items=i3 tier='i3' %}

<p class="narrow">
  C'est grâce à nos partenaires que nous arrivons à offrir des opportunités de choix aux étudiants, que ce soit pour nos délégations de compétitions ou lors d'organisation d'événements.
</p>
<p class="narrow">
  Vous souhaitez nous appuyer? Jetez un coup d'oeil à notre plan de commandites, et entrez en contact avec nous par courriel au <a href="mailto:info@jdis.ca">info@jdis.ca</a>.
</p>
<a class="intro__btn--main" href="/assets/pdf/PlanDeCommandite_2023-2024.pdf"><div>Plan de commandite 2023-2024</div></a>

<h3 id="evenements" class="section-title">Événements à venir</h3>
<ul class="grid">
  {% for event in site.data.events %}
    <li class="event" data-timestamp="{{ event.date_unix }}">
      <div class="content">
        <p>
          <b>{{ event.name }}</b><br/>
          <span class="faded">{{ event.date }}</span>
        </p>
        <p>{{ event.description }}</p>
        {% if event.url != "" %}
          <p><a target="_blank" href="{{event.url}}">Plus d'informations →</a></p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

<h3 id="reussites" class="section-title">Nos dernières réussites</h3>
<div class="events">
  {% for achievement in site.data.achievements %}
    <div style="border:2px solid black; margin-right:1em; margin-bottom:1em; padding: 1em; padding-right: 2em; display: inline-block">
      <div>
        <b>{{ achievement.event }}</b><br/>
        {{ achievement.achievement }}
      </div>
    </div>
  {% endfor %}
</div>

<h3 id="equipe" class="section-title">L'équipe</h3>
  <div class="grid">
    {% for member in site.data.members %}
      <div class="member-card">
        <img src="/assets/img/members/{{ member.image_url }}" />
        <h3>{{ member.name }}</h3>
        <p>{{ member.title }}</p>
        <div class="member__social">
          <a href="{{ member.github }}"><i class="fab fa-github"></i></a>
          <a href="{{ member.linkedin }}"><i class="fab fa-linkedin"></i></a> 
        </div>
      </div>
    {% endfor %}
  </div>

<h3 id="contact" class="section-title">Pour nous rejoindre</h3>
<div class="social">
  {% for medium in site.data.contact.social %}
    <a href="{{ medium.url }}" target="_blank">{{ medium.label }}</a>
  {% endfor %}
</div>
<br />
<span>2500 Boulevard de l'Université, Sherbrooke, Qc, Canada</span><br />
<span>D4-1010-25, Université de Sherbrooke</span>
<script src="/assets/js/events.js"></script>
