---
permalink: /
layout: page
---
<div class="stripes">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<header>
  <div class="intro">
    <p class="intro__main">JDIS, c'est plus de 350 étudiant-e-s en informatique à l'UdeS.</p>
    <p class="intro__text">
      Avec une communauté toujours grandissante, plusieurs participations aux
      événements informatiques de la province ainsi qu'une foule d'activités organisées chaque année, 
      <strong>Jeux et défis informatiques de Sherbrooke</strong> est l'organisation étudiante d'informatique par excellence de l'Université de Sherbrooke.
    </p>
    <a class="intro__btn--main" href="#jdis"><div>En savoir plus</div></a>
  </div>
</header>

<h3 id="jdis" style="border-top:0;" class="section-title">JDIS?</h3>
<p class="narrow">
  Jeux et défis informatiques de Sherbrooke, aussi connue sous le nom de JDIS (prononcé «jedi», comme dans <em>Star Wars</em>), est une organisation étudiante formée <em>par</em> les étudiant-e-s et <em>pour</em> les étudiant-e-s en informatique de l'Université de Sherbrooke.
</p>

<h3 style="border-top:0;" class="section-title">Concrètement, JDIS c'est...</h3>
<ul class="grid grid-photos">
  <li>
    <div class="photo-title">Des midis-conférences à l'UdeS</div>
    <div>
      <img src="/assets/img/photos/p_2.jpg" alt="Midi-conférence CI/CD présenté par Coveo">
    </div>
    <p class="small-text"><span style="font-weight: bold; font-style: italic">La transition vers le CI/CD</span>, par Coveo<br>UdeS, octobre 2018</p>
  </li>
  <li>
    <div class="photo-title">Des délégations aux événements externes</div>
    <div>
      <img src="/assets/img/photos/p_4.jpg" alt="NorthSec CTF 2018">
    </div>
    <p class="small-text"><span style="font-weight: bold">NorthSec CTF</span> &mdash; Compétition de sécurité informatique<br>Montréal, mai 2018</p>
  </li>
  <li>
    <div class="photo-title">Des conférences et des compétitions</div>
    <div>
      <img src="/assets/img/photos/p_5.jpg" alt="JDIS Games 2018">
    </div>
    <p class="small-text"><span style="font-weight: bold">JDIS Games</span> &mdash; Compétition d'intelligence artificielle<br>UdeS, juillet 2018</p>
  </li>
</ul>

<h3 id="partenaires" class="section-title">Nos partenaires de succès</h3>
<ul class="grid" style="padding-bottom: 2rem;">
  {% for sponsor in site.data.sponsors.big %}
    <li style="margin: auto;">
      <a href="{{ sponsor.url }}" target="_blank">
        <img style="width: {{ sponsor.aspect_ratio | times: 10 | plus: sponsor.width_modifier }}rem;" src="{{ sponsor.image_url }}" />
      </a>
    </li>
  {% endfor %}
</ul>
<ul class="grid" style="padding-bottom: 2rem;">
  {% for sponsor in site.data.sponsors.medium %}
    <li style="margin: auto;">
      <a href="{{ sponsor.url }}" target="_blank">
        <img style="width: {{ sponsor.aspect_ratio | times: 8 | plus: sponsor.width_modifier }}rem;" src="{{ sponsor.image_url }}" />
      </a>
    </li>
  {% endfor %}
</ul>
<ul class="grid" style="padding-bottom: 2rem;">
  {% for sponsor in site.data.sponsors.small %}
    <li style="margin: auto;">
      <a href="{{ sponsor.url }}" target="_blank">
        <img style="width: {{ sponsor.aspect_ratio | times: 5 | plus: sponsor.width_modifier }}rem;" src="{{ sponsor.image_url }}" />
      </a>
    </li>
  {% endfor %}
</ul>
<p class="narrow">
  C'est grâce à nos partenaires que nous arrivons à offrir des opportunités de choix aux étudiants, que ce soit pour nos délégations de compétitions ou lors d'organisation d'événements.
</p>
<p class="narrow">
  Vous souhaitez nous appuyer? Jetez un coup d'oeil à notre plan de commandites, et entrez en contact avec nous par courriel au <a href="mailto:info@jdis.ca">info@jdis.ca</a>.
</p>
<a class="intro__btn--main" href="/assets/pdf/PlanDeCommandite-JDIS-2020.pdf"><div>Plan de commandite 2020</div></a>

<h3 id="evenements" class="section-title">Événements à venir</h3>
<ul class="grid">
  {% for event in site.data.events %}
    <li class="event" data-timestamp="{{ event.date_unix }}">
      <div class="content">
        <p>
          <b>{{ event.name }}</b><br/>
          <span class="faded">{{ event.date }}</span>
        </p>
        <p>{{ event.description }}</p>
        {% if event.url != "" %}
          <p><a target="_blank" href="{{event.url}}">Plus d'informations →</a></p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

<h3 id="reussites" class="section-title">Nos dernières réussites</h3>
<div class="events">
  {% for achievement in site.data.achievements %}
    <div style="border:2px solid black; margin-right:1em; margin-bottom:1em; padding: 1em; padding-right: 2em; display: inline-block">
      <div>
        <b>{{ achievement.event }}</b><br/>
        {{ achievement.achievement }}
      </div>
    </div>
  {% endfor %}
</div>

<h3 id="equipe" class="section-title">L'équipe</h3>
<ul class="grid grid-team">
  {% for member in site.data.members %}
    <li class="member">
      <img class="member-image" src="/assets/img/members/{{ member.image_url }}" alt="{{ member.name }}, {{ member.title }}">
      <b>{{ member.name }}</b><br/>
      <span>{{ member.title }}</span><br/>
      <span class="small-text"><a href="mailto:{{ member.email }}">{{ member.email }}</a></span>
    </li>
  {% endfor %}
  </ul>

<h3 id="contact" class="section-title">Pour nous rejoindre</h3>
<iframe src="https://discord.com/widget?id=755049912969723985&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
<div class="social">
  {% for medium in site.data.contact.social %}
    <a href="{{ medium.url }}" target="_blank">{{ medium.label }}</a>
  {% endfor %}
</div>
<br />
<span>2500 Boulevard de l'Université, Sherbrooke, Qc, Canada</span><br />
<span>D4-2009, Université de Sherbrooke</span>
<script src="/assets/js/events.js"></script>
