<div class="nav">
  <div class="container" style="padding: 0.5em">
    <a class="img-link" href="/">
      <img class="nav__nav-logo" style="background: rgba(255,255,255,0.7);border-radius:10px;" src="/assets/img/jdis-logo.png"/>
    </a>
    <!--
    <ul class="nav__nav-links">
      <li class="nav__nav-links-item"><a href="#equipe">L'équipe</a></li>
      <li class="nav__nav-links-item"><a href="#evenements">Événements à venir</a></li>
      <li class="nav__nav-links-item"><a href="#partenaires">Nos partenaires</a></li>
      <li class="nav__nav-links-item"><a href="#contact">Nous joindre</a></li>
    </ul>
    -->
  </div>
</div>
