// @name Header
// @description All header styles

@use "variables" as *;
@use "layout" as *;
@use "sass:math";

header {
  padding: ($spacer * 2) 0;
  margin-bottom: ($spacer * 2);
  
  @media(min-width: 640px) {
    padding: ($spacer * 3) 0 ($spacer * 3);
    margin-bottom: ($spacer * 3);
  }
}

.intro {
  margin-bottom: ($spacer * 2);
  max-width: 45em;
  
  &__pre, &__post {
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__btn--main {
    text-decoration: none;
    border: none;
    background: initial !important;

    div {
      display: inline-block;
      background: linear-gradient(135deg, #58cc72, #119e5d);
      padding: 1em 2em;
      color: white;
      border-radius: 4px;
      transition: opacity 0.1s ease-in-out;

      &:hover, &:focus, &:active {
        opacity: 0.9;
      }
    }
  }

  &__btn--alt {
    display: inline-block;
    margin: 1em;
    color: hsla(142.8, 56.9%, 20%, 0.75);
    border-color: hsla(142.8, 56.9%, 20%, 0.75);
  }

  &__main {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    margin: 0px 0 20px;

    background: #e2fff1;
    padding: 8px 10px 2px;
    margin: -5px -10px;
    border-radius: 5px;
    display: inline;
    box-shadow: 0px 4px #e2fff1;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    
    @media(min-width: 640px) {
      font-size: 2.2rem;
    }
  }

  &__text {
    margin-top: 1em;
  }
}

.social {
  a {
    margin-right: math.div($spacer, 2) !important;
  }
}
