// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 $spacer;
}

.section-title {
  padding-top:3em;
  border-top: 1px solid #eeeeee;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: ($spacer * 2) 0 $spacer;
  position: relative;
}

.nav {
  align-items: center;

  .nav__nav-logo {
    vertical-align: middle;
    width: 80px;
    padding: 2em 0;
    margin-right: 1.5em;

    img {
      width: 100%;
    }
  }

  .nav__nav-branding {
    font-size: 24px;
  }

  .nav__nav-links {
    vertical-align: middle;
    .nav__nav-links-item {
      margin-right: $spacer;
      display: inline;
    }
  }
}

.photo {
  max-height: 80vh;
}

.member {
  margin-bottom: 1em;
}

.member-image {
  margin-bottom: 0.7em;
}

.small-text {
  font-size: 0.8em;
}

ul.grid {
  list-style: none;
  display: grid;

  li {
    transition: all 0.15s ease-in-out;
  }

  &.grid-3 {
    grid-gap: 2em;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 767px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 560px){
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      background: linear-gradient(135deg, hsl(160, 0%, 99%), hsl(151, 50%, 94%));
      padding: 1em;
      border-radius: 5px;
    }
  }

  &.grid-6 {
    grid-gap: 0 2em;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: 767px){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.grid-team {
    grid-gap: 0.5em 1.5em;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr) );
  }
}

body{
  overflow-x:hidden;
}

.stripes{
  background: linear-gradient(150deg, #3dc674 15%, #d9feec 70%, #f1fcf2 94%);
  height:40em;
  width:110vw;
  margin-left: -10vw;
  transform: skewY(-10deg);
  position: absolute;
  top: 0em;
  z-index: -1;
  transform-origin:0;

  span{
    height:175px;
    width:33.33333%;
  }
  span:nth-child(1){
    background:transparentize(green, 0.9);
    right:16%;
    top:50px;
    position:absolute;
  }
  span:nth-child(2){
    height: 200px;
    background:transparentize(rgb(76, 207, 53), 0.9);
    right:-16%;
    top:30%;
    position:absolute;
  }
  span:nth-child(3){
    background:transparentize(black, 0.9);
    left:-16%;
    top:0px;
    position:absolute;
  }
  span:nth-child(4){
    background:linear-gradient(90deg, transparentize($jdis-green, 0.9), transparentize(white, 0.9));
    position:absolute;
    bottom:150px;
    right:0;
  }
  span:nth-child(5){
    background:$jdis-green;
    background:transparentize($jdis-green, 0.8);
    position:absolute;
    bottom:0;
  }
}
