---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="404 - Page non trouvée">
    <div class="py-20 text-center">
        <h1 class="mb-4 text-6xl font-bold">404</h1>
        <p class="mb-4 text-xl"><strong>Page non trouvée :(</strong></p>
        <p class="mb-8">La page demandée n'a pas pu être trouvée.</p>
        <a href="/" class="intro__btn--main"><div>Retour à l'accueil</div></a>
    </div>
</PageLayout>
